body{
    background-color: antiquewhite !important;
    background-image: url('./img/precolo.png');
}

.container{
    background-color: brown !important;
    box-shadow: 2px 2px 10px black;
}